---
extension: css
filter:    sass
layout:    nil  # no layout
sass_options:
  :style: :expanded
---

!color      = #151
!h_text     = !color
!box_bg     = white*0.90 + !color*0.10
!box_text   = white*0.10 + !color*0.90
!small_text = white*0.50 + !color*0.50

h1
  a:link, a:visited, a:hover, a:focus, a:active
    :color           = !h_text
    :text-decoration   none

h1, h2, h3, h4, h5, h6
  :color = !h_text

a:link
  :color blue
a:visited
  :color navy
a:hover,
a:focus,
a:active
  :color red

#sidebar
  ul, li
    :margin  0
    :padding 0
  li
    :display       block
    :margin-bottom 0.4em
  a:link,
  a:visited
    :text-decoration none
  a:hover,
  a:focus,
  a:active
    :text-decoration underline

.box
  :color            = !box_text
  :background-color = !box_bg
  :padding            0.5em
  :margin-bottom      1em

  :border-radius         1em
  /* Evil invalid CSS
  :-moz-border-radius    1em
  :-webkit-border-radius 1em

pre
  :color            = !box_text
  :background-color = !box_bg

.nobr
  :white-space nowrap

.small
  :font-size   85%
  :color     = !small_text

.hidden
  :display none

/* Google’s Enhanced 404 tool

#goog-wm
  h3.closest-match a
  h3.other-things
  ul li
  li.search-goog
    :display block
